<label for="password">DÉFINIR UN MOT DE PASSE</label>
<div class="btn-container">
	<button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#modalPwd">Modifier mon mot de passe</button>
</div>

{# MODAL + SCRIPT TO EDIT PASSWORD #}
<div class="modal fade" id="modalPwd" tabindex="-1" role="dialog" aria-labelledby="modalPwdLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="modalPwdLabel">Modifier votre mot de passe</h5>
				<button type="button" class="btn btn-secondary" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">
						<i class="fa fa-close"></i>
					</span>
				</button>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="newPwd">Nouveau mot de passe</label>
						<input type="text" class="form-control" id="newPwd">
					</div>
					<div class="form-group">
						<label for="newPwdConfirm">Confirmation du mot de passe</label>
						<input type="text" class="form-control" id="newPwdConfirm">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
				<button type="button" class="btn btn-primary" onclick="savePwd()">Enregistrer</button>

			</div>
		</div>
	</div>
</div>
<script>
	function savePwd() {
var newPwd = $('#newPwd').val();
var newPwdConfirm = $('#newPwdConfirm').val();
if (newPwd === newPwdConfirm) {
if (newPwd.length < 6) {
alert("Le mot de passe doit être d'au moins 6 caractères")
} else {
var url = "{{ path('app_user_params_edit_password', { 'value': '__VALUE__' }) }}";
url = url.replace('__VALUE__', newPwd);
window.location.href = url;
}

} else {
alert('Les mots de passe entrés sont différents')

}
}
</script>
